.discover-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100wv;
}
.discover-container .discover-box {
  cursor: pointer;
  border: none;
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  font-weight: bold;
  color: whitesmoke;
  background-color: #043763;
  padding: 4px;
}
.discover-container .discover-box:hover {
  padding: 0px;
  border: solid 4px whitesmoke;
}
.discover-container .discover-box:hover .search-icon {
  color: #FF00FF;
  transform: scale(3);
}
.discover-container .discover-box:hover .discover-button-label {
  transform: scale(0.9);
}
.discover-container .discover-box .discover-remain {
  width: 50%;
}
.discover-container .discover-box .discover-remain span {
  padding: 5px;
  font-size: 1.5em;
  font-weight: bold;
}
.discover-container .discover-box .discover-button {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 10em;
  padding: 1em;
}
.discover-container .discover-box .discover-button .search-icon {
  width: 40%;
  font-size: 1em;
  transition: all 0.2s ease-in-out;
}
.discover-container .discover-box .discover-button .discover-button-label {
  width: 60%;
  transition: all 0.2s ease-in-out;
}
.disabled-btn:hover {
  cursor: not-allowed;
}
